.logStreamV2 {
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    height: 10rem;
    overflow-y: auto;
    min-height: calc(100vh - 2 * var(--footer-height));
    min-height: calc(100vh - 2 * var(--footer-height));
}

.filterEditor {
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    background: rgba();
    background: rgba(51, 3, 51, 0.95);
    border-radius: 1rem !important;
    padding: 0rem;
    overflow: hidden;
}

.logLine {
    padding: 0.2rem 0.2rem;
    margin: 0;
    font-family: monospace;
    font-weight: 600;
    line-height: 1.2;
    border: 2px solid rgba(69, 4, 62, 0);
}
.logLine:hover {
        border: 2px solid #e11bff;
        border-radius: .1rem;
}

.expandedLog {
    background: #710782;

}

.expandedLogContent {
    margin-left: 1rem;

}


.containerInfo {
    padding: 0 !important;
    padding-top: 0.2rem !important;
    min-height: var(--footer-height);
    max-height: var(--footer-height);
    background: #1f0228;
    padding: 1rem;
    padding-left: 1rem !important;
}


