.prevent-select {
    -webkit-user-select: none !important;  /* Safari */
    -ms-user-select: none !important; /* IE 10 and IE 11 */
    user-select: none !important; /* Standard syntax */
}

.prevent-select:focus {
    outline: none;
}

:root {
    --footer-height: 3rem;
    --sidebarinfo-height: 11.5rem;
}

.footer {
    min-height: var(--footer-height);
    max-height:  var(--footer-height);
    background: #150017;
    border-top: 3px solid purple;
    padding: 0;
}

.content {
    background: #160017;
    padding: 0 !important;
    overflow: hidden;
}

.logo {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
   
}




.sidebar {
    background: #150017;
    padding: 0 !important;
    border-right: 3px solid purple;
    margin: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    min-height: calc(100vh - var(--footer-height));
    min-height: calc(100vh - var(--footer-height));
    overflow-y: hidden;
}



.sidebarInfo {
    min-height: var(--sidebarinfo-height);
    max-height: var(--sidebarinfo-height);
}
.containerList {
    overflow-y: auto !important;
    min-height: calc(100vh - var(--sidebarinfo-height) - var(--footer-height));
    max-height: calc(100vh - var(--sidebarinfo-height) - var(--footer-height));

}

.container {
    min-height: calc(100vh - var(--footer-height));
    max-height: calc(100vh - var(--footer-height));
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(220, 0, 228, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(189, 0, 247); 
    cursor:grab;

}

::-webkit-scrollbar-thumb:active {
  
    cursor:grabbing;

}


.containerBtn {
    border-radius: 0 !important;
    padding: 0.5rem 0.5rem  !important;
    width: 100% !important;
    transition: all 0.2s ease-in-out;
    p {
        font-size: 0.8rem;
        background-color: #181818;
        padding: 0.4rem;
        border-radius: 0.25rem;
        display: block;
        text-align: center;
    }
    background-color:rgb(136, 58, 225) !important;
    cursor: pointer;
}

.containerBtn-selected {
    background: #440059 !important;
    color: brightness(0%) !important;
    opacity: 0.5;
}

